body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }

  .div {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .div-2 {
    background-color: #000;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      z-index: 1;
    }
  }
  .div-3 {
    background: radial-gradient(
      488% 171.46% at 56.94% 158.75%,
      #3c3c3c 0%,
      #000 81.02%
    );
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 0 27px 60px;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      padding-left: 20px;
      z-index: 1;
    }
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 933px;
    margin-left: 43px;
    align-items: start;
    padding: 50px 80px;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      padding: 0 20px;
      z-index: 1;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
  .div-5 {
    position: relative;
    color: #fff;
    margin-top: 196px;
    font: italic 900 171px Barlow, sans-serif;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      font-size: 40px;
      margin-top: 40px;
      z-index: 1;
    }
  }
  .div-6 {
    position: relative;
    color: #fff;
    letter-spacing: 6px;
    margin-top: 78px;
    font: italic 500 40px Barlow, sans-serif;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
      margin-top: 40px;
      z-index: 1;
    }
  }
  .div-7 {
    position: relative;
    color: #fff;
    letter-spacing: 6.75px;
    margin-top: 39px;
    font: italic 500 45px Barlow, sans-serif;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      font-size: 40px;
      z-index: 1;
    }
  }
  .div-8 {
    position: relative;
    color: #fff;
    letter-spacing: 0.7px;
    margin-top: 36px;
    max-width: 659px;
    font: italic 500 14px/32px Barlow, -apple-system, Roboto, Helvetica,
      sans-serif;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      z-index: 1;
    }
  }
  .div-9 {
    position: absolute;
    color: #000;
    white-space: nowrap;
    border-radius: 21px;
    background-color: #cbd6e0;
    justify-content: center;
    margin: 28px 0 103px;
    padding: 21px 34px;
    font: 600 15px Barlow, sans-serif;
    z-index: 1;
    text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-9 {
      white-space: initial;
      margin: 0 0 40px 3px;
      padding: 0 20px;
      z-index: 1;
    }
  }

  .div-10 {
    background-color: #000;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      z-index: 1;
    }
  }
  .div-11 {
    background: radial-gradient(
      488% 171.46% at 56.94% 158.75%,
      #0eba9b 54.17%,
      #000 100%
      
    );
    width: 100%;
    padding-left: 80px;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      padding-left: 20px;
      z-index: 1;
    }
  }
  .div-12 {
    gap: 20px;
    z-index: 1;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-12 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
      z-index: 1;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 37%;
    z-index: 1;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
      z-index: 1;
    }
  }
  .div-13 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
      margin-top: 40px;
      z-index: 1;
    }
  }
  .div-14 {
    color: #fff;
    align-self: stretch;
    font: italic 900 171px Barlow, sans-serif;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      font-size: 40px;
      z-index: 1;
    }
  }
  .div-15 {
    color: #fff;
    letter-spacing: 6px;
    align-self: stretch;
    margin-top: 77px;
    z-index: 1;
    font: italic 500 40px Barlow, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-16 {
    color: #fff;
    letter-spacing: 6.75px;
    align-self: stretch;
    margin-top: 39px;
    font: italic 500 45px Barlow, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-17 {
    color: #fff;
    letter-spacing: 0.7px;
    align-self: stretch;
    margin-top: 36px;
    font: italic 500 14px/32px Barlow, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
    }
  }
  .div-18 {
    position: absolute;
    color: #000;
    white-space: nowrap;
    border-radius: 21px;
    background-color: #cbd6e0;
    align-self: start;
    margin-top: 28px;
    justify-content: center;
    padding: 21px 34px;
    font: 600 15px Barlow, sans-serif;
    text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-18 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 63%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .img-2 {
    aspect-ratio: 0.92;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
      margin-top: 17px;
    }
  }
  .div-19 {
    background-color: #000;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
    }
  }
  .div-20 {
    background: radial-gradient(
      488% 171.46% at 56.94% 158.75%,
      #eb191e 23.96%,
      #ba0e6b 34.38%,
      #ee1a1a 100%
    );
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
    }
  }
  .div-21 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-21 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .img-3 {
    aspect-ratio: 0.6;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-3 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 55%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-22 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-23 {
    color: #fff;
    align-self: stretch;
    font: italic 900 171px Barlow, sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-24 {
    color: #fff;
    letter-spacing: 6px;
    align-self: stretch;
    margin-top: 76px;
    font: italic 500 40px Barlow, sans-serif;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-25 {
    color: #fff;
    letter-spacing: 6.75px;
    align-self: stretch;
    margin-top: 39px;
    font: italic 500 45px Barlow, sans-serif;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-26 {
    color: #fff;
    letter-spacing: 0.7px;
    align-self: stretch;
    margin-top: 36px;
    margin-right: 370px;
    font: italic 500 14px/32px Barlow, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
    }
  }
  .div-27 {
    position: absolute;
    color: #000;
    border-radius: 21px;
    background-color: #cbd6e0;
    align-self: start;
    margin-top: 28px;
    justify-content: center;
    padding: 21px 34px;
    font: 600 15px Barlow, sans-serif;
    text-decoration: none;
  }

  .div-9:hover, .div-18:hover, .div-27:hover{
    text-decoration: underline;
  }
  
  @media (max-width: 991px) {
    .div-27 {
      padding: 0 20px;
    }
  }