<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Display</title>
    <link rel="stylesheet" type="text/css" href="../static/style_listing.css">

</head>
<body>
    <header>
        <iframe src="banner.html" width="100%" height="100%" frameborder="0"></iframe>
    </header>
    <script>
        function added(){
            alert('Item Added Successfully!');
        }
    </script>
    <form action="/process" method="post">
        <label for="option">Sort by</label>
        <select name="option" id="option">
            <option value="Normal">Default</option>
            <option value="Desc">Price (High to Low)</option>
            <option value="Asc">Price (Low to High)</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <form action="/process" method="post">
        <label for="option">Gender</label>
        <select name="option" id="option">
            <option value="Men">Men</option>
            <option value="Women">Women</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    
    <form action="/process" method="post">
        <label for="option">Brand</label>
        <select name="option" id="option">
            <option value="Adidas">Adidas </option>
            <option value="Asics">Asics </option>
            <option value="Converse">Converse  </option>
            <option value="Fila">Fila </option>
            <option value="New Balance">New Balance </option>
            <option value="Nike">Nike</option>
            <option value="Puma">Puma </option>
            <option value="Reebok">Reebok</option>
            <option value="Skechers">Skechers </option>
            <option value="Vans">Vans</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    
    <div id="item-container">
        {% if products %}
            {% for product in products %}
                <div class="item">
                    <img src={{product[9]}} alt="Image Description">
                    <p> {{ product[1] + " " + product[2] + " " + product[8]  }}</p>
                    <form method="POST" action="{{ url_for('add_item') }}">
                        <input type="number" name="item_id" value="{{ product[0] }}" hidden>
                        <input type="text" name="price" value="{{ product[8] }}" hidden>
                        <input type="text" name="brand" value="{{ product[1] }}" hidden>
                        <input type="text" name="model" value="{{ product[2] }}" hidden>
                        <input type="text" name="url" value="{{ product[9] }}" hidden>
                        <input type="submit" value="Add" class="deneme">
                    </form>                  
                </div>
            {% endfor %}
        {% else %}
            <p>No items found.</p>
        {% endif %}
    </div>
    
</body>
</html>
