<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="../static/shopping_cart.css">
</head>


<body>
    <h1>Shopping Cart</h1>
<body>
    <ul>
        {% for item in items %}
            <li>
                <strong>{{ item[4] }}</strong> - {{ item[1] }} USD<br>
                Quantity: {{ item[2] }}
                <a href="{{ url_for('decrease_item', item_id=item[0]) }}"><strong style="color: red;">-</strong></a>
                <a href="{{ url_for('increase_item', item_id=item[0]) }}"><strong style="color: green;">+</strong></a>
                <a href="{{ url_for('remove_item', item_id=item[0]) }}" class="button" style="color: white; background-color: red;">Remove</a>
            </li>
        {% endfor %}
    </ul>

    <p>Total Price: {{ total_price }} USD</p>
    <form action="{{ url_for('payment_page') }}" method="GET">
        <button type="submit">Proceed to Payment</button>
    </form>
</body>
</html>